<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Project - Todo App</title>
</head>
<body>
<h1>The Project - Todo App</h1>
<img id="randomImg" th:src="@{|${imageEndpoint}|}" alt="Satunnainen kuva"/>
<form th:action="@{/}" method="post">
    <input type="text" id="todoInput" name="content" maxlength="140" placeholder="Enter a todo (max 140 chars)"
           required/>
    <button type="submit">Create todo</button>
</form>
<ul>
    <li th:each="todo : ${todos}" th:text="${todo.content}"></li>
</ul>
</body>
</html>